.DS_Store
.idea/
venv/
data/
/__pycache__/
*.pyc
*.log
pre-train_bert/pretrained_tokenizer/
baseline_tokenizer/pretrained-tokenizer/
baseline_tokenizer/test.txt
baseline_tokenizer/train.txt
baseline_tokenizer/tokenizer

approach_2/pretrained-bert/
approach_2/best_model_state.bin
approach_2/test.txt
approach_2/train.txt

approach_1/pretrained-bert/
approach_1/best_model_state.bin
approach_1/test.txt
approach_1/train.txt