.DS_Store
.idea/
venv/
data/
/__pycache__/
*.pyc
*.log
pre-train_bert/pretrained_tokenizer/
baseline_tokenizer/pretrained-bert/
baseline_tokenizer/test.txt
baseline_tokenizer/train.txt
baseline_tokenizer/tokenizer
morfessor-2.0.6/
morphemes_tokenizer/pretrained-bert/
morphemes_tokenizer/best_model_state.bin
