.DS_Store
.idea/
venv/
data/
/__pycache__/
*.pyc
*.log
pre-train_bert/pretrained_tokenizer/
baseline_tokenizer/pretrained-tokenizer/
baseline_tokenizer/test.txt
baseline_tokenizer/train.txt
baseline_tokenizer/tokenizer

approach_2/pretrained-bert/
approach_2/best_model_state.bin
approach_2/test.txt
approach_2/train.txt

resegment_explain/pretrained-bert/
resegment_explain/best_model_state.bin
resegment_explain/test.txt
resegment_explain/train.txt